{% extends "base.html" %} {% block content %}
<div class="jumbotron">
  <h1>Have an event that needs to be created?</h1>
  <p>Add a new event with the form below:</p>
  <form method="POST">
    {# This hidden_tag is a CSRF security feature. #}
    {{ form.hidden_tag() }}
    {{ form.name.label }} {{ form.name( value=event.name) }} <br>
    {{ form.description.label }} {{ form.description(value = event.description) }} <br>
    {{ form.image_url.label }} {{ form.image_url(value= event.image_url) }} <br>
    {{ form.address.label }} {{ form.address(value = event.address) }} <br>
    {{ form.datetimestart.label }} {{ form.datetimestart(value = event.datetimestart.strftime("%m/%d/%Y %H:%M")) }}<br>
    {{ form.datetimeend.label }} {{ form.datetimeend() }} {{"Until late" if event.datetimeend == None else event.datetimeend.strftime("%m/%d/%Y %H:%M")}} <br>
    {{ form.submit() }}
  </form>
</div>
{% endblock %}