body{
    position: relative;
    min-height: 100vh;
    margin: 0;
    background: linear-gradient(90deg,rgba(90, 90, 90, 0.219) 0%, rgba(100, 100, 100, 0.397) 25%, rgba(105, 105, 105, 0.417) 75%, rgba(190, 190, 190, 0.233) 100%);
  
}
* {
    font-family: "Livvic", sans-serif;
  }

  /* Flash class and keyframe animation */
.flashit{
    color:rgb(255, 0, 0);
    animation: flash linear 2.5s infinite;

  }
  @keyframes flash {
    0% { opacity: 1; }
    25% { opacity: 0.5; }
    50% { opacity: .1; } 
    75% { opacity: 1.5; }
    100% { opacity: 1; }
  }

#flash-alert { 
    display: flex;
    margin: auto;
    width: 40rem;
    text-align: center;
    justify-self: center;
    animation: slidein linear 5s infinite alternate;
}
@keyframes slidein {
    from {
      transform: translateX(-25%);
    }
    to {
      transform: translateX(25%);
    }
    
  }

.NavBar {
 /* background-color: rgb(255, 208, 0); */
 height: 5rem;
 mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffc3c3 25%, #ffb8b8 75%, rgba(255, 255, 255, 0) 100%);
}

.nav-box-content{
    display: flex;
    position: sticky;
    flex-direction: row;
    justify-content: space-between;
    top: 0;
    width: 100%;
    padding: 0 1rem 0 1rem;
    text-align: center;
    align-items: center;
    align-content: center;
    background-color: rgba(70, 128, 136, 0.514);
    font-size: 3rem;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
}

.flash-box {
    display: flex;
    border-block-width: 40rem;
    width: 40rem;
    height: 4rem;
}

.nav-box1 {
    display: flex;
    text-align: center;
    align-items: center;
    align-content: center;
}

.nav-box2 {
    display: flex;
    text-align: center;
    align-items: center;
    align-content: center;
}

.a-nav {
    text-decoration: none;
    font-size: 2rem;
    color: rgb(255, 81, 0);
    margin: 0.5rem;
}

.ip-nav{
    border: none;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    text-justify: center;
    margin: 0.1rem;
    padding:0,1rem;
    text-align: left;
}

.btn {
    border: none;
    text-decoration: none;
    border-radius: 0.5rem;
    background-color: rgb(255, 94, 0);
    text-align: center;
    text-justify: center;
    padding: 0.5rem;
    margin: 0.5rem;
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.322), inset 0 0 2px rgba(255, 255, 255, 0.781);
}

.btn:hover{
    transform: scale(1.05)
}
#content {
    margin: 1rem;
}

.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    /* background-color: rgb(255, 208, 0); */
    mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
}

.footer-box-content{
    display: flex;
    font-size: 1rem;
    color: rgb(85, 38, 0);
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
}

a{
    text-decoration: none;
}

.form-base-login{ 
    width: 100%;
    max-width: 500px;
    min-height: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 3em;
    margin: auto;
    text-align: center;
}

.form-login {
    border: none;
    border-style: hidden;
    border-radius: 2em;
    background-color: aquamarine;
    width: 15rem;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.322), inset 0 0 2px rgba(255, 255, 255, 0.781);
}

.form-login:hover{
    transform: scale(1.05)
}
.form-base-login .form-login {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    /* font-size: 1em; */
}

.form-base-login .form-login:focus {
    z-index: 2;
}
.h1-title {
    color: rgb(255, 94, 0);
    text-shadow: 2px 2px rgba(0, 0, 0, 0.322);
}

.basic-content{
    display: flex;
    text-align: center;
    /* width: 100vw; */
    min-height: 25rem;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
}

.wrapped {
    display: flex;
    flex-wrap: wrap;
}

.list-content{
    display: flex;
    background-color: rgba(181, 255, 220, 0.363);
    width: 50vw;
    margin: 1rem;
    flex-direction: column;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    background: linear-gradient(90deg,rgba(255, 255, 255, 0.219) 0%, rgba(255, 255, 255, 0.397) 25%, rgba(255, 255, 255, 0.417) 75%, rgba(255, 255, 255, 0.233) 100%);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.322), inset 0 0 2px rgba(255, 255, 255, 0.781);

}

.blog-title{
    display: flex;
    background-color: #ff5e00;
    text-align: left;
    align-items: center;
    font-size: 1.5rem;
    height: 3rem;
    border-top-left-radius: 2rem;
    justify-content: space-between;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.322), inset 0 0 2px rgba(255, 255, 255, 0.781);

}

.a-title{
    color: rgb(255, 255, 255);
    margin-left: 2rem;
    font-family: inherit;
}

.title-ctrl-ribbon{
    background-color: #7c27006b;
    border-radius: 1.25rem 0.375rem 0.375rem 1.25rem;
    box-shadow: rgba(255, 255, 255, 0.2) 0 1px 2px 0;
    color: #fff;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.25rem;
    min-height: 1.25rem;
    padding: 0.6rem;
    margin-top: 5px;
    margin-right: -10px;
    margin-bottom: 20px;
}

.body-basic {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;

}

.body-content {
    width: 100%;
    height: 20rem;
    padding: 1rem;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    /* background-color: rgb(255, 224, 203); */
    justify-content: space-between;
}

.p-details {
    color: #ff5e00;
    font-size: 1rem;
    margin: 0.2rem;
}

.main-body {
    width: 100%;
    height: 80%;
    background-color: rgba(255, 215, 215, 0.301) ; 
}

.bottom-body-details{
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
    justify-content: space-between;

}

.main-body:hover {
    background-color: rgb(255, 152, 104) ;
    background: linear-gradient(90deg,rgba(255, 152, 104, 0.295) 0%, rgba(255, 152, 104, 0.63) 25%, rgba(255, 152, 104, 0.664) 75%, rgba(255, 152, 104, 0.404) 100%);
  
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.322), inset 0 0 2px rgba(255, 255, 255, 0.781); 
    transform: scale(1.03)
}
