{% extends "base.html" %} {% block content %}
<div class="jumbotron">
  <h1>Have an event that needs to be created?</h1>
  <p>Add a new event with the form below:</p>
  <form method="POST">
    {# This hidden_tag is a CSRF security feature. #}
    {{ form.hidden_tag() }}
    {{ form.name.label }} {{ form.name() }} <br>
    {{ form.price.label }} {{ form.price() }} <br>
    {{ form.stockquantity.label }} {{ form.stockquantity() }}<br>
    {{ form.submit() }}
    <a  onclick = "window.location.href=`{{url_for('home')}}`" class="btn btn-primary">Done</a>
    
  </form>
</div>
{% endblock %}